*{box-sizing: border-box;
font-family: Arial, Helvetica, sans-serif;
text-align: center;
background-color: rgb(21, 169, 206);}

#container{
    display: flex;
    justify-content: center;
    gap: 10%;
    align-items: center;
    background-color: rgb(230, 223, 199);
    padding: 2%;
    margin: auto 2%;
}

h1, header, #p {
    background-color: rgb(230, 223, 199);
    /* margin: 2%; */
}
#p{
    padding-bottom: 2%;
}
header{
    margin: 2%;
}
 #container3{
    display: flex;
    justify-content: center;
    background-color: rgb(230, 223, 199);
    gap: 20%;
}
button{
    font-size: large;
    border-radius: 5px;
    background-color: rgb(68, 147, 167);
    color: #ffffff;
    padding: 1% 5%;
    border-style: none;
}

footer{
    padding: 2%;
    background-color: cornsilk;
    margin: 2%;

}